<div class="container">
    <div class="board">
      {{#if admin}}
        <div class="left-ui-panel">
    
        <div class="board-post-form">
                  <div class="form-post-heading">
          <span>create a post</span>
      </div>
            <form method="POST" action="/create-post"> 
  <div class="form-group">
      <div class="full-input"><label for='name'>Title</label>
    <input type="text" placeholder="Short, descriptive title" name="postTitle" class="form-control" id="exampleInputText">
  </div></div>
  <div class="form-group">
       <div class="full-input"><label for='name'>Description</label>
   <textarea name="postDescription" placeholder="Any additional details" id="post-details"></textarea>
  </div></div>
  <div class="board-post-btn">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
        </div>
    </div>
    <div class="right-ui-panel">
      {{#each posts}}
    <div  class="board-post-list">
            <form action="/upvote/123" method="POST" class="upvote">
               <button type="submit">
        <i class="fas fa-caret-up"></i>
        <div class="count">{{upvote}}</div>
      </button>
            </form>
      <a class="board-post-link" href="/board-post/{{id}}">
       <div class="body">
         <h6 class="post-title">{{title}}</h6>
         <p class="post-description">{{description}}</p>
       </div>
        <div class="comment-count">
         <i class="far fa-comment-alt"></i>
         {{commentCount}}
       </div>
       </a>
    </div >
      {{else}} Sorry you havent created any post yet
      {{/each}}
      </div>
    {{/if}}
    </div>
</div>