<div class="post">
    <div class="container">
            <div class="board">
        <div class="left-ui-panel">
            <div class="status">
                <p>Details</p>
                <form action="/post/edit/{{post.id}}?_method=PUT" method="POST">
                 <input type="hidden" name="_method" value="POST">
                    <p>Status</p>
                    <select class="custom-select" name="progress">
  <option value="Open">Open</option>
  <option value="In Progress">In Progress</option>
  <option value="Completed">Completed</option>
  <option value="Under Review"> Under Review </option>
  <option value="Planned">Planned</option>
  <option value="Closed"> Closed </option>
</select>
 <div class="update">
      <button type="submit" class="btn">Update</button>
 </div>
                </form>
                <form method="POST" action="/post/{{post.id}}?_method=DELETE">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" class="btn delete">
      <img  src="../../public/static/bin.svg" alt="">
 </button>
  </form>
            </div>
  <div class="edit-post">
                  <a href="" class="edit-post" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      Edit this post
  </a>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit this post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/board-post/edit/{{post.id}}?_method=PUT" method="POST">
          <div class="form-group">
            <label for="post-name" class="col-form-label">Post title</label>
            <input type="text" name="title" class="form-control" id="recipient-name" value="{{post.title}}">
          </div>
          <div class="form-group">
            <label for="post-description" class="col-form-label">Post Description</label>
            <textarea class="form-control" name="description" id="message-text">{{post.description}}</textarea>
          </div>
                <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
    <div class="right-ui-panel">
        <div class="board-post-list">
           <form action="/upvote/{{post.id}}" method="POST" class="upvote">
               <button type="submit">
        <i class="fas fa-caret-up"></i>
        <div class="count">{{voteCount}}</div>
      </button>
            </form>
      <div class="board-post-link">
          
       <div class="body">
         <h6 class="post-title">{{post.title}}</h6>
         <p class="post-description">{{post.description}}</p>
     <div class="commentComposer">
             <form class="imageForm composerForm tabbed" action="/post-comment" method="POST">
                 <div class="mentionsTextarea">
                     <div class="autoResizeTextarea" style="">
                         <span class="inputContainer">
                             <textarea name="commentText" autocomplete="off" placeholder="Leave a comment" rows="1" style=""></textarea>
                             </span>
                             </div>
                             </div>
                             <div class="buttonBar">
                                 <div class="imageInput">
                              <div class="rightContainer">
                                             <div class="teamNotifyMessage">The post author and voters will get an&nbsp;email.</div>
                                             <button type="submit" class="btn"><span class="label">Submit</span><span class="loader"> </span></button></div></div></form>
                                             
        </div>
         <div class="activity-heading">
                Comment Activity
            </div>
       </div>
       
       </div>
        <div class="progress-status {{post.status}}">
           {{post.status}}
       </div>
       
        </div>    
    </div>
        {{#each comment}}
        <div class="comments-activity">
            <div class="user-img">
                <img src="../../public/static/user.webp" alt="">
            </div>
            <div class="comment-body">
                <div class="user-name">
                   {{username}}
                </div>
                <div class="comment-text">
                    <p>{{text}}</p>
                </div>
                <div class="comment-func">
                    <div class="comment-date">
                        {{date}}
                    </div>
                    <div class="edit-comment data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"">
                        edit comment
                    </div>
                </div>
            </div>
            
        </div>
        {{else}} No comment activity yet
        {{/each}}
            
        </div>
    </div>
</div>